<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="ratingApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <ratingApp.Properties.Settings>
            <setting name="ColumnsName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ColumnsNameRussian" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ColumnsYear" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ColumnsRating" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ColumnsLink" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ColumnsVideoQuality" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ColumnsAudioQuality" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ColumnsPlot" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ColumnsPoster" serializeAs="String">
                <value>False</value>
            </setting>
        </ratingApp.Properties.Settings>
    </userSettings>
</configuration>
